name: Files-Sideload-Stable-v28
on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    env:
      SOLUTION_NAME: 'Files.slnx'
      CONFIGURATION: 'Release'
      PLATFORM: 'x64'
      APPX_PACKAGE_DIR: '${{ github.workspace }}\artifacts\AppxPackages'
      PACKAGE_PROJECT_PATH: 'src\Files.App (Package)\Files.Package.wapproj'
      CERT_FILE: 'GitHubActions.pfx'

    steps:
    - name: Checkout Official
      uses: actions/checkout@v4
      with:
        repository: files-community/Files
        ref: v4.0.28
        fetch-depth: 1

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Setup NuGet
      uses: NuGet/setup-nuget@v2

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        global-json-file: global.json

    - name: Create Self-Signed Certificate
      shell: pwsh
      run: |
        $password = ConvertTo-SecureString "Password123" -AsPlainText -Force
        $cert = New-SelfSignedCertificate -Type Custom -Subject "CN=MyFilesBuild" -KeyUsage DigitalSignature -FriendlyName "FilesDevCert" -TextExtension @("2.5.29.37={text}1.3.6.1.5.5.7.3.3") -NotAfter (Get-Date).AddYears(1)
        Export-PfxCertificate -Cert $cert -FilePath "${{ env.CERT_FILE }}" -Password $password
        echo "CERT_PASSWORD=Password123" >> $env:GITHUB_ENV

    - name: Full Restore
      run: |
        # Сначала восстанавливаем всё решение
        msbuild ${{ env.SOLUTION_NAME }} -t:Restore -p:Platform=${{ env.PLATFORM }} -p:Configuration=${{ env.CONFIGURATION }}
        # Добиваем восстановление для C++ проектов (Лаунчера), чтобы не было ошибки
        nuget restore src/Files.App.Launcher/Files.App.Launcher.vcxproj -SolutionDirectory ${{ github.workspace }}

    - name: Build & Package (Signed)
      shell: pwsh
      run: |
        # Мы добавляем PublishReadyToRun прямо сюда!
        msbuild "${{ env.PACKAGE_PROJECT_PATH }}" `
        -t:Build `
        -t:_GenerateAppxPackage `
        -p:Platform=${{ env.PLATFORM }} `
        -p:Configuration=${{ env.CONFIGURATION }} `
        -p:AppxBundle=Always `
        -p:AppxPackageDir="${{ env.APPX_PACKAGE_DIR }}" `
        -p:UapAppxPackageBuildMode=Sideload `
        -p:PackageCertificateKeyFile="${{ github.workspace }}\${{ env.CERT_FILE }}" `
        -p:PackageCertificatePassword="${{ env.CERT_PASSWORD }}" `
        -p:PublishReadyToRun=true `
        -v:minimal

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Files-v28-Fixed
        path: |
          ${{ env.APPX_PACKAGE_DIR }}
          ${{ env.CERT_FILE }}
